.e1_2 { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:3320px;
	position:absolute;
}
.e1_5651 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:3320px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_5652 { 
	background-color:rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
	width:1440px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5652_10_3393 { 
	width:134px;
	height:34px;
	position:absolute;
	left:120px;
	top:22px;
}
.ei1_5652_10_3393_1_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.399999618530273px;
	height:29.200010299682617px;
	position:absolute;
	left:2.049999952316284px;
	top:2.3999900817871094px;
}
.ei1_5652_10_3393_1_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.34999942779541px;
	height:20.700010299682617px;
	position:absolute;
	left:15.449999809265137px;
	top:6.649990081787109px;
}
.ei1_5652_10_3394 { 
	width:410px;
	height:18px;
	position:absolute;
	left:910px;
	top:30px;
}
.ei1_5652_10_3394_1_220 { 
	width:58px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5652_10_3394_1_220_1_216 { 
	color:rgba(255, 255, 255, 1);
	width:60.14814758300781px;
	height:17px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
}
.ei1_5652_10_3394_1_222 { 
	width:58px;
	height:18px;
	position:absolute;
	left:88px;
	top:0px;
}
.ei1_5652_10_3394_1_222_1_216 { 
	color:rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	width:60.14814758300781px;
	height:17px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
}
.ei1_5652_10_3394_1_224 { 
	width:58px;
	height:18px;
	position:absolute;
	left:176px;
	top:0px;
}
.ei1_5652_10_3394_1_224_1_216 { 
	color:rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	width:60.14814758300781px;
	height:17px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
}
.ei1_5652_10_3394_1_226 { 
	width:58px;
	height:18px;
	position:absolute;
	left:264px;
	top:0px;
}
.ei1_5652_10_3394_1_226_1_216 { 
	color:rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	width:60.14814758300781px;
	height:17px;
	position:absolute;
	left:0px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
}
.ei1_5652_10_3394_1_228 { 
	width:58px;
	height:18px;
	position:absolute;
	left:352px;
	top:0px;
}
.ei1_5652_10_3394_1_228_1_216 { 
	color:rgba(224.000001847744, 224.000001847744, 224.000001847744, 1);
	position:absolute;
	left:0px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0.20000000298023224;
}
.e1_5653 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:735px;
	position:absolute;
	left:0px;
	top:78px;
}
.ei1_5653_13_2656 { 
	width:1440px;
	height:735px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.ei1_5653_13_2656_13_2257 { 
	background-color:rgba(239.00000095367432, 243.00000071525574, 253.0000001192093, 1);
	width:1440px;
	height:735px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5653_13_2656_13_2258 { 
	width:1436.408935546875px;
	height:729.693115234375px;
	position:absolute;
	left:3.5910181999206543px;
	top:1.50830004952765e-13px;
}
.i1_5653_13_2656_13_2259 { 
	overflow:hidden;
}
.ei1_5653_13_2656_13_2259 { 
	background-color:rgba(233.00000131130219, 243.00000071525574, 255, 1);
	width:1436.408935546875px;
	height:729.693115234375px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5653_13_2656_13_2260 { 
	width:2041.943603515625px;
	height:2814.5400390625px;
	position:absolute;
	left:-305.8041687011719px;
	top:-1041.929931640625px;
}
.ei1_5653_13_2656_13_2261 { 
	width:2041.943603515625px;
	height:2814.5400390625px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5653_13_2656_13_2262 { 
	width:2041.943603515625px;
	height:2814.5400390625px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5653_13_2656_13_2263 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:410.8625183105469px;
	top:2060.1259765625px;
}
.i1_5653_13_2656_13_2263 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2264 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:-0.000014781951904296875px;
	top:1307.1636962890625px;
}
.i1_5653_13_2656_13_2264 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2265 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:441.0924987792969px;
	top:2118.15625px;
}
.i1_5653_13_2656_13_2265 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2266 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:30.230941772460938px;
	top:1365.193115234375px;
}
.i1_5653_13_2656_13_2266 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2267 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:471.32342529296875px;
	top:2176.1865234375px;
}
.i1_5653_13_2656_13_2267 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2268 { 
	transform: rotate(-46.55468137971965deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:60.461639404296875px;
	top:1423.2281494140625px;
}
.i1_5653_13_2656_13_2268 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2269 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:501.5544128417969px;
	top:2234.220458984375px;
}
.i1_5653_13_2656_13_2269 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2270 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:90.69160461425781px;
	top:1481.25830078125px;
}
.i1_5653_13_2656_13_2270 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2271 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:531.784423828125px;
	top:2292.250244140625px;
}
.i1_5653_13_2656_13_2271 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2272 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:120.92256164550781px;
	top:1539.287353515625px;
}
.i1_5653_13_2656_13_2272 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2273 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.423583984375px;
	height:0px;
	position:absolute;
	left:562.0150756835938px;
	top:2350.2802734375px;
}
.i1_5653_13_2656_13_2273 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2274 { 
	transform: rotate(-46.55468868707944deg);
	width:1800.424072265625px;
	height:0px;
	position:absolute;
	left:151.1535186767578px;
	top:1597.322265625px;
}
.i1_5653_13_2656_13_2274 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2275 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:592.24609375px;
	top:2408.314453125px;
}
.i1_5653_13_2656_13_2275 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2276 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:181.3842315673828px;
	top:1655.3558349609375px;
}
.i1_5653_13_2656_13_2276 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2277 { 
	transform: rotate(-46.55468137971965deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:622.4767456054688px;
	top:2466.34423828125px;
}
.i1_5653_13_2656_13_2277 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2278 { 
	transform: rotate(-46.55467903128888deg);
	width:1800.4237060546875px;
	height:0px;
	position:absolute;
	left:211.6142120361328px;
	top:1713.3861083984375px;
}
.i1_5653_13_2656_13_2278 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2279 { 
	transform: rotate(-46.55467903128888deg);
	width:1800.4237060546875px;
	height:0px;
	position:absolute;
	left:652.706787109375px;
	top:2524.37353515625px;
}
.i1_5653_13_2656_13_2279 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2280 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4241943359375px;
	height:0px;
	position:absolute;
	left:241.8451690673828px;
	top:1771.415771484375px;
}
.i1_5653_13_2656_13_2280 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2281 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:682.9376831054688px;
	top:2582.408447265625px;
}
.i1_5653_13_2656_13_2281 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2282 { 
	transform: rotate(-46.55468868707944deg);
	width:1800.424072265625px;
	height:0px;
	position:absolute;
	left:272.0761413574219px;
	top:1829.4503173828125px;
}
.i1_5653_13_2656_13_2282 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2283 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:713.1686401367188px;
	top:2640.442138671875px;
}
.i1_5653_13_2656_13_2283 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2284 { 
	transform: rotate(-46.55468137971965deg);
	width:1800.423828125px;
	height:0px;
	position:absolute;
	left:743.3995971679688px;
	top:2698.472412109375px;
}
.i1_5653_13_2656_13_2284 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2285 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.4237060546875px;
	height:0px;
	position:absolute;
	left:303.6806335449219px;
	top:1891.8343505859375px;
}
.i1_5653_13_2656_13_2285 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2286 { 
	transform: rotate(-46.554686207614715deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:773.63037109375px;
	top:2756.506591796875px;
}
.i1_5653_13_2656_13_2286 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2287 { 
	transform: rotate(-46.554683859184166deg);
	width:1800.4241943359375px;
	height:0px;
	position:absolute;
	left:333.91058349609375px;
	top:1949.8648681640625px;
}
.i1_5653_13_2656_13_2287 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2288 { 
	transform: rotate(-46.55468137971965deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:803.8602905273438px;
	top:2814.5400390625px;
}
.i1_5653_13_2656_13_2288 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2656_13_2289 { 
	transform: rotate(-46.55468137971965deg);
	width:1800.4239501953125px;
	height:0px;
	position:absolute;
	left:364.1415710449219px;
	top:2007.898681640625px;
}
.i1_5653_13_2656_13_2289 { 
	border:1px solid rgba(190.0000038743019, 205.00000298023224, 248.0000004172325, 1);
}
.ei1_5653_13_2657 { 
	width:974px;
	height:205px;
	position:absolute;
	left:233px;
	top:265px;
}
.ei1_5653_13_2658 { 
	width:974px;
	height:103px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5653_13_2659 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:974px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:56px;
	letter-spacing:1.2000000476837158;
}
.ei1_5653_13_2660 { 
	color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1);
	width:733px;
	height:19px;
	position:absolute;
	left:120.5px;
	top:84px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0.20000000298023224;
}
.ei1_5653_13_2661 { 
	background-color:rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
	width:205px;
	height:52px;
	position:absolute;
	left:384.5px;
	top:153px;
}
.ei1_5653_13_2661_4_10460 { 
	color:rgba(255, 255, 255, 1);
	width:105px;
	height:22px;
	position:absolute;
	left:50px;
	top:15px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0.46000000834465027;
}
.e1_5654 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:570px;
	position:absolute;
	left:0px;
	top:813px;
}
.ei1_5654_21_3064 { 
	width:1200px;
	height:310px;
	position:absolute;
	left:120px;
	top:80px;
}
.ei1_5654_21_3065 { 
	width:952px;
	height:182px;
	position:absolute;
	left:124px;
	top:0px;
}
.ei1_5654_21_3078 { 
	background-color:rgba(231.00000143051147, 236.00000113248825, 252.00000017881393, 1);
	width:90px;
	height:90px;
	position:absolute;
	left:431px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei1_5654_21_3079 { 
	width:42px;
	height:42px;
	position:absolute;
	left:24px;
	top:24px;
}
.i1_5654_21_3079_3_9345 { 
	border:2px solid rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
}
.ei1_5654_21_3079_3_9345 { 
	width:14px;
	height:7px;
	position:absolute;
	left:14px;
	top:21px;
}
.i1_5654_21_3079_3_9346 { 
	border:2px solid rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
}
.ei1_5654_21_3079_3_9346 { 
	position:absolute;
	left:21px;
	top:21px;
}
.i1_5654_21_3079_3_9347 { 
	border:2px solid rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
}
.ei1_5654_21_3079_3_9347 { 
	width:38.50355911254883px;
	height:26.928197860717773px;
	position:absolute;
	left:1.7406691312789917px;
	top:5.254300594329834px;
}
.i1_5654_21_3079_3_9348 { 
	border:2px solid rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
}
.ei1_5654_21_3079_3_9348 { 
	width:14px;
	height:7px;
	position:absolute;
	left:14px;
	top:21px;
}
.ei1_5654_21_3067 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:952px;
	height:68px;
	position:absolute;
	left:0px;
	top:114px;
	font-family:Inter;
	text-align:center;
	font-size:56px;
	letter-spacing:0.20000000298023224;
}
.ei1_5654_21_3068 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:530px;
	height:96px;
	position:absolute;
	left:335px;
	top:214px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0.20000000298023224;
}
.ei1_5654_21_3084 { 
	width:191px;
	height:40px;
	position:absolute;
	left:624.5px;
	top:450px;
}
.ei1_5654_21_3084_5_1308 { 
	color:rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
	width:113px;
	height:24px;
	position:absolute;
	left:22px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0.46000000834465027;
}
.ei1_5654_21_3084_5_1309 { 
	width:24px;
	height:24px;
	position:absolute;
	left:145px;
	top:8px;
}
.i1_5654_21_3084_5_1309_3_9524 { 
	border:2px solid rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
}
.ei1_5654_21_3084_5_1309_3_9524 { 
	width:14px;
	height:0px;
	position:absolute;
	left:5px;
	top:12px;
}
.i1_5654_21_3084_5_1309_3_9525 { 
	border:2px solid rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
}
.ei1_5654_21_3084_5_1309_3_9525 { 
	width:7px;
	height:14px;
	position:absolute;
	left:12px;
	top:5px;
}
.e1_5655 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:855px;
	position:absolute;
	left:0px;
	top:1383px;
}
.ei1_5655_33_4361 { 
	width:626px;
	height:695px;
	position:absolute;
	left:120px;
	top:80px;
}
.ei1_5655_33_4289 { 
	width:562px;
	height:164px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5655_33_4290 { 
	width:332px;
	height:116px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5655_33_4291 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:332px;
	height:116px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:48px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4292 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:562px;
	height:24px;
	position:absolute;
	left:0px;
	top:140px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4356 { 
	background-color:rgba(239.00000095367432, 243.00000071525574, 253.0000001192093, 1);
	width:626px;
	height:491px;
	position:absolute;
	left:0px;
	top:204px;
}
.ei1_5655_33_4356_13_1329 { 
	width:92px;
	height:92px;
	position:absolute;
	left:267px;
	top:199.5px;
}
.i1_5655_33_4356_13_1329_3_8868 { 
	border:3px solid rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
}
.ei1_5655_33_4356_13_1329_3_8868 { 
	width:69px;
	height:69px;
	position:absolute;
	left:11.5px;
	top:11.5px;
}
.i1_5655_33_4356_13_1329_3_8869 { 
	border:3px solid rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
}
.ei1_5655_33_4356_13_1329_3_8869 { 
	width:11.499998092651367px;
	height:11.499998092651367px;
	position:absolute;
	left:26.83333396911621px;
	top:26.83333396911621px;
}
.i1_5655_33_4356_13_1329_3_8870 { 
	border:3px solid rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
}
.ei1_5655_33_4356_13_1329_3_8870 { 
	width:61.333335876464844px;
	height:42.16666793823242px;
	position:absolute;
	left:19.16666603088379px;
	top:38.33333206176758px;
}
.ei1_5655_33_4410 { 
	width:508px;
	height:695px;
	position:absolute;
	left:812px;
	top:80px;
}
.ei1_5655_33_4362 { 
	width:508px;
	height:123px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5655_33_4363 { 
	background-color:rgba(239.00000095367432, 243.00000071525574, 253.0000001192093, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:10px;
	top:10px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei1_5655_33_4373 { 
	color:rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
	width:12px;
	height:29px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4365 { 
	width:406px;
	height:103px;
	position:absolute;
	left:92px;
	top:10px;
}
.ei1_5655_33_4366 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:406px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4367 { 
	color:rgba(97.00000181794167, 97.00000181794167, 97.00000181794167, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei1_5655_33_4392 { 
	width:508px;
	height:123px;
	position:absolute;
	left:0px;
	top:143px;
}
.ei1_5655_33_4393 { 
	background-color:rgba(239.00000095367432, 243.00000071525574, 253.0000001192093, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:10px;
	top:10px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei1_5655_33_4394 { 
	color:rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
	width:15px;
	height:29px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4395 { 
	width:406px;
	height:103px;
	position:absolute;
	left:92px;
	top:10px;
}
.ei1_5655_33_4396 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:406px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4397 { 
	color:rgba(97.00000181794167, 97.00000181794167, 97.00000181794167, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei1_5655_33_4398 { 
	width:508px;
	height:123px;
	position:absolute;
	left:0px;
	top:286px;
}
.ei1_5655_33_4399 { 
	background-color:rgba(239.00000095367432, 243.00000071525574, 253.0000001192093, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:10px;
	top:10px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei1_5655_33_4400 { 
	color:rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
	width:16px;
	height:29px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4401 { 
	width:406px;
	height:103px;
	position:absolute;
	left:92px;
	top:10px;
}
.ei1_5655_33_4402 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:406px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4403 { 
	color:rgba(97.00000181794167, 97.00000181794167, 97.00000181794167, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei1_5655_33_4404 { 
	width:508px;
	height:123px;
	position:absolute;
	left:0px;
	top:429px;
}
.ei1_5655_33_4405 { 
	background-color:rgba(239.00000095367432, 243.00000071525574, 253.0000001192093, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:10px;
	top:10px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei1_5655_33_4406 { 
	color:rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
	width:16px;
	height:29px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4407 { 
	width:406px;
	height:103px;
	position:absolute;
	left:92px;
	top:10px;
}
.ei1_5655_33_4408 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:406px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4409 { 
	color:rgba(97.00000181794167, 97.00000181794167, 97.00000181794167, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.ei1_5655_33_4411 { 
	width:508px;
	height:123px;
	position:absolute;
	left:0px;
	top:572px;
}
.ei1_5655_33_4412 { 
	background-color:rgba(239.00000095367432, 243.00000071525574, 253.0000001192093, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:10px;
	top:10px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.ei1_5655_33_4413 { 
	color:rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
	width:16px;
	height:29px;
	position:absolute;
	left:24px;
	top:16px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4414 { 
	width:406px;
	height:103px;
	position:absolute;
	left:92px;
	top:10px;
}
.ei1_5655_33_4415 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:406px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:22px;
	letter-spacing:0.20000000298023224;
}
.ei1_5655_33_4416 { 
	color:rgba(97.00000181794167, 97.00000181794167, 97.00000181794167, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0.20000000298023224;
	line-height:px;
}
.e1_5657 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:478px;
	position:absolute;
	left:0px;
	top:2238px;
}
.ei1_5657_49_4034 { 
	background-color:rgba(247.00000047683716, 249.00000035762787, 254.00000005960464, 1);
	width:1200px;
	height:318px;
	position:absolute;
	left:120px;
	top:80px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.ei1_5657_49_4035 { 
	width:952px;
	height:106px;
	position:absolute;
	left:124px;
	top:60px;
}
.ei1_5657_49_4036 { 
	color:rgba(117.00000062584877, 117.00000062584877, 117.00000062584877, 1);
	width:348px;
	height:24px;
	position:absolute;
	left:302px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0.20000000298023224;
}
.ei1_5657_49_4037 { 
	color:rgba(33.00000183284283, 33.00000183284283, 33.00000183284283, 1);
	width:952px;
	height:58px;
	position:absolute;
	left:0px;
	top:48px;
	font-family:Inter;
	text-align:center;
	font-size:48px;
	letter-spacing:0.20000000298023224;
}
.ei1_5657_49_4048 { 
	width:310px;
	height:44px;
	position:absolute;
	left:445px;
	top:214px;
}
.ei1_5657_49_4038 { 
	background-color:rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
	width:139px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5657_49_4038_4_11550 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:19px;
	position:absolute;
	left:22px;
	top:12.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0.46000000834465027;
}
.ei1_5657_49_4038_4_11551 { 
	width:24px;
	height:24px;
	position:absolute;
	left:93px;
	top:10px;
}
.i1_5657_49_4038_4_11551_3_8547 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei1_5657_49_4038_4_11551_3_8547 { 
	width:6px;
	height:12px;
	position:absolute;
	left:9px;
	top:6px;
}
.i1_5657_49_4043 { 
	border:1px solid rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
}
.ei1_5657_49_4043 { 
	width:139px;
	height:44px;
	position:absolute;
	left:171px;
	top:0px;
}
.ei1_5657_49_4043_5_706 { 
	color:rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
	width:61px;
	height:19px;
	position:absolute;
	left:22px;
	top:12.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0.46000000834465027;
}
.ei1_5657_49_4043_5_707 { 
	width:24px;
	height:24px;
	position:absolute;
	left:93px;
	top:10px;
}
.i1_5657_49_4043_5_707_3_8547 { 
	border:2px solid rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
}
.ei1_5657_49_4043_5_707_3_8547 { 
	width:6px;
	height:12px;
	position:absolute;
	left:9px;
	top:6px;
}
.e1_5658 { 
	background-color:rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
	width:1440px;
	height:604px;
	position:absolute;
	left:0px;
	top:2716px;
}
.ei1_5658_87_3581 { 
	width:1200px;
	height:404px;
	position:absolute;
	left:120px;
	top:100px;
}
.ei1_5658_87_3582 { 
	width:1078px;
	height:256px;
	position:absolute;
	left:61px;
	top:0px;
}
.ei1_5658_87_3583 { 
	width:679px;
	height:222px;
	position:absolute;
	left:0px;
	top:34px;
}
.ei1_5658_87_3584 { 
	width:153px;
	height:222px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5658_87_3585 { 
	color:rgba(255, 255, 255, 1);
	width:63px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei1_5658_87_3586 { 
	width:153px;
	height:179px;
	position:absolute;
	left:0px;
	top:43px;
}
.ei1_5658_87_3587 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:71px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3588 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:75px;
	height:19px;
	position:absolute;
	left:0px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3589 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:132px;
	height:19px;
	position:absolute;
	left:0px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3590 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:153px;
	height:19px;
	position:absolute;
	left:0px;
	top:96px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3591 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:58px;
	height:19px;
	position:absolute;
	left:0px;
	top:128px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3592 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:82px;
	height:19px;
	position:absolute;
	left:0px;
	top:160px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3593 { 
	width:91px;
	height:126px;
	position:absolute;
	left:291px;
	top:0px;
}
.ei1_5658_87_3594 { 
	color:rgba(255, 255, 255, 1);
	width:91px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei1_5658_87_3595 { 
	width:61px;
	height:83px;
	position:absolute;
	left:0px;
	top:43px;
}
.ei1_5658_87_3596 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:36px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3597 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:61px;
	height:19px;
	position:absolute;
	left:0px;
	top:32px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3598 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:54px;
	height:19px;
	position:absolute;
	left:0px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3599 { 
	width:159px;
	height:158px;
	position:absolute;
	left:520px;
	top:0px;
}
.ei1_5658_87_3600 { 
	color:rgba(255, 255, 255, 1);
	width:159px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei1_5658_87_3601 { 
	width:159px;
	height:115px;
	position:absolute;
	left:0px;
	top:43px;
}
.ei1_5658_87_3602 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:159px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3603 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:159px;
	height:19px;
	position:absolute;
	left:0px;
	top:31px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3604 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:159px;
	height:19px;
	position:absolute;
	left:0px;
	top:62px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3605 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:159px;
	height:19px;
	position:absolute;
	left:0px;
	top:93px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.ei1_5658_87_3606 { 
	background-color:rgba(40.00000141561031, 81.00000277161598, 227.00000166893005, 1);
	width:338px;
	height:256px;
	position:absolute;
	left:740px;
	top:0px;
}
.ei1_5658_87_3607 { 
	width:254px;
	height:196px;
	position:absolute;
	left:42px;
	top:30px;
}
.ei1_5658_87_3608 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei1_5658_87_3609 { 
	background-color:rgba(255, 255, 255, 1);
	width:248px;
	height:50px;
	position:absolute;
	left:0px;
	top:46px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
}
.i1_5658_87_3609 { 
	border:1px solid rgba(214.00000244379044, 214.00000244379044, 214.00000244379044, 1);
}
.ei1_5658_87_3610 { 
	color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1);
	opacity:0.6000000238418579;
	width:127px;
	height:17px;
	position:absolute;
	left:15px;
	top:16.5px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei1_5658_87_3611 { 
	background-color:rgba(53.00000064074993, 99.00000169873238, 233.00000131130219, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:198px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.ei1_5658_87_3612 { 
	transform: rotate(-1.918077461623742e-15deg);
	width:24px;
	height:24px;
	position:absolute;
	left:13px;
	top:13px;
}
.i1_5658_87_3612_3_5361 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3612_3_5361 { 
	width:6px;
	height:12px;
	position:absolute;
	left:9px;
	top:6px;
}
.ei1_5658_87_3613 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:254px;
	height:82px;
	position:absolute;
	left:0px;
	top:114px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
.ei1_5658_87_3614 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.05999999865889549;
	width:1200px;
	height:1px;
	position:absolute;
	left:0px;
	top:303px;
}
.i1_5658_87_3614 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3615 { 
	width:1200px;
	height:53px;
	position:absolute;
	left:0px;
	top:351px;
}
.ei1_5658_87_3616 { 
	width:211px;
	height:53px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5658_87_3616_87_3667 { 
	background-color:rgba(255, 255, 255, 1);
	width:21.099998474121094px;
	height:45.517662048339844px;
	position:absolute;
	left:3.22798490524292px;
	top:3.7411611080169678px;
}
.ei1_5658_87_3616_87_3668 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.29738998413086px;
	height:32.267662048339844px;
	position:absolute;
	left:24.327983856201172px;
	top:10.366161346435547px;
}
.ei1_5658_87_3616_87_3669 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.723880767822266px;
	height:22.525001525878906px;
	position:absolute;
	left:52.46656799316406px;
	top:14.41911792755127px;
}
.ei1_5658_87_3616_87_3670 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.534347534179688px;
	height:16.367717742919922px;
	position:absolute;
	left:59.83507537841797px;
	top:21.044292449951172px;
}
.ei1_5658_87_3616_87_3671 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.9744873046875px;
	height:22.41694450378418px;
	position:absolute;
	left:77.99126434326172px;
	top:21.162687301635742px;
}
.ei1_5658_87_3616_87_3672 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.534133911132812px;
	height:16.36805534362793px;
	position:absolute;
	left:97.6263198852539px;
	top:21.04408836364746px;
}
.ei1_5658_87_3616_87_3673 { 
	background-color:rgba(255, 255, 255, 1);
	width:5.605674743652344px;
	height:22.33794403076172px;
	position:absolute;
	left:116.31768798828125px;
	top:14.606173515319824px;
}
.ei1_5658_87_3616_87_3674 { 
	background-color:rgba(255, 255, 255, 1);
	width:16.968963623046875px;
	height:22.07155990600586px;
	position:absolute;
	left:124.7576904296875px;
	top:21.076675415039062px;
}
.ei1_5658_87_3616_87_3675 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.19537353515625px;
	height:16.32371711730957px;
	position:absolute;
	left:142.8973846435547px;
	top:21.084096908569336px;
}
.ei1_5658_87_3616_87_3676 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.006195068359375px;
	height:15.908554077148438px;
	position:absolute;
	left:158.2027587890625px;
	top:21.511764526367188px;
}
.ei1_5658_87_3616_87_3677 { 
	background-color:rgba(255, 255, 255, 1);
	width:23.524932861328125px;
	height:15.869102478027344px;
	position:absolute;
	left:176.4526824951172px;
	top:21.075016021728516px;
}
.ei1_5658_87_3616_87_3678 { 
	background-color:rgba(255, 255, 255, 1);
	width:6.9283599853515625px;
	height:6.858823776245117px;
	position:absolute;
	left:200.4814910888672px;
	top:14.559412002563477px;
}
.ei1_5658_87_3617 { 
	width:219px;
	height:17px;
	position:absolute;
	left:528.5px;
	top:18px;
}
.ei1_5658_87_3618 { 
	color:rgba(255, 255, 255, 1);
	width:42px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei1_5658_87_3619 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:17px;
	position:absolute;
	left:78px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei1_5658_87_3620 { 
	color:rgba(255, 255, 255, 1);
	width:55px;
	height:17px;
	position:absolute;
	left:164px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}
.ei1_5658_87_3621 { 
	width:135px;
	height:35px;
	position:absolute;
	left:1065px;
	top:9px;
}
.ei1_5658_87_3622 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5658_87_3623 { 
	opacity:0.10000000149011612;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.i1_5658_87_3623 { 
	border:1.5px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3624 { 
	width:20px;
	height:20px;
	position:absolute;
	left:8px;
	top:7px;
}
.ei1_5658_87_3624_3_6283 { 
	background-color:rgba(255, 255, 255, 1);
	width:10.000000953674316px;
	height:10.833333969116211px;
	position:absolute;
	left:8.333333015441895px;
	top:6.666666507720947px;
}
.ei1_5658_87_3624_3_6284 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.3333334922790527px;
	height:10px;
	position:absolute;
	left:1.6666666269302368px;
	top:7.5px;
}
.ei1_5658_87_3624_3_6285 { 
	background-color:rgba(255, 255, 255, 1);
	width:3.3333334922790527px;
	height:3.3333334922790527px;
	position:absolute;
	left:1.6666666269302368px;
	top:1.6666666269302368px;
}
.ei1_5658_87_3625 { 
	width:35px;
	height:35px;
	position:absolute;
	left:50px;
	top:0px;
}
.ei1_5658_87_3626 { 
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei1_5658_87_3627 { 
	opacity:0.10000000149011612;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.i1_5658_87_3627 { 
	border:1.5px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3628 { 
	width:20px;
	height:20px;
	position:absolute;
	left:8px;
	top:7px;
}
.ei1_5658_87_3628_3_5767 { 
	background-color:rgba(255, 255, 255, 1);
	width:9.166666030883789px;
	height:16.666667938232422px;
	position:absolute;
	left:5.833333492279053px;
	top:1.6666666269302368px;
}
.ei1_5658_87_3629 { 
	width:35px;
	height:35px;
	position:absolute;
	left:100px;
	top:0px;
}
.ei1_5658_87_3630 { 
	opacity:0.10000000149011612;
	width:35px;
	height:35px;
	position:absolute;
	left:0px;
	top:0px;
}
.i1_5658_87_3630 { 
	border:1.5px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3631 { 
	width:20px;
	height:20px;
	position:absolute;
	left:8px;
	top:8px;
}
.i1_5658_87_3631_3_5971 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3631_3_5971 { 
	position:absolute;
	left:5px;
	top:2.5px;
}
.i1_5658_87_3631_3_5972 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3631_3_5972 { 
	width:5px;
	height:5px;
	position:absolute;
	left:12.5px;
	top:2.5px;
}
.i1_5658_87_3631_3_5973 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3631_3_5973 { 
	width:5px;
	height:5px;
	position:absolute;
	left:2.5px;
	top:12.5px;
}
.i1_5658_87_3631_3_5974 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.ei1_5658_87_3631_3_5974 { 
	width:7.5px;
	height:7.5px;
	position:absolute;
	left:7.5px;
	top:7.5px;
}
