#home {
  background-image: linear-gradient(rgb(252, 129, 129), rgb(217, 241, 81));
}

#sanhak > li {
  background-image: linear-gradient(rgb(208, 255, 154), rgb(111, 205, 255));
  font-size: 20px;
  line-height: 50px;
  width: 90%;
  text-align: center;
}

#gallery {
  text-align: center;
  font-size: 22px;
  background-image: linear-gradient(rgb(255, 251, 176), rgb(179, 228, 255));
  color: black;
}

a {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #12121260;
  color: #fff;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 20px;
}
